html {
  font-size: 67.5%;
}

.App {
  text-align: center;
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rightContainer {
  width: 55%;
}

.formContainer {
  display: flex;
  justify-content: center;
}

.Form {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  align-items: flex-start;
}

.UserCard {
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10% 0;
  width: 100%;
}

.Users {
  width: 25%;
  margin-left: 10%;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.error {
  display: inline-block;
  padding: .9%;
  margin: 0;
  font-size: 1rem;
  margin-left: 2%;
  text-align: left;
  width: 300px;
  color: red;
}